<div class="container-fluid resume">
    <div class="row">
        <div class="col-12 text-center mb-4">
            <h1 class="text-uppercase border-0">{{ resume.name }}</h1>
            <h2 class="h6 text-uppercase border-0 text-muted">{{ resume.jobTitle }}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-4 side border-right">
            <section>
                <h3 class="h6">Contact</h3>
                <app-contact-info [resume]='resume'></app-contact-info>
            </section>

            <section>
                <h3 class="h6">Skills</h3>
                <app-skills [skills]='resume.skills' [type]='"progress-bar"'></app-skills>
            </section>

            <section *ngIf="resume.certifications && resume.certifications[0].name">
                <h3 class="h6">Certifications</h3>
                <app-certifications [certifications]='resume.certifications'></app-certifications>
            </section>
        </div>

        <div class="col-12 col-md-8 body">
            <section>
                <h3 class="h6">Summary</h3>
                <p>{{ resume.summary }}</p>
            </section>

            <section class="work-history">
                <h3 class="h6">Work experience</h3>
                <app-work-history [work]='resume.work'></app-work-history>
            </section>

            <section class="education-history">
                <h3 class="h6">Education</h3>
                <app-education-history [education]='resume.education'></app-education-history>
            </section>
        </div>
    </div>
</div>
