.template-container {
    height: 100vh;
    overflow-y: auto;

    img {
        width: 100%;
        display: block;
    }

    li {
        margin-bottom: 25px;

        &.selected {
            border: 1px solid;
            border-radius: 4px;
        }
    }
}
