<div class="container-fluid">
    <div class="row justify-content-end">
        <div class="col-3 template-list d-print-none" style="height: 100vh; overflow: auto">
            <app-templates (templateSelected)="onTemplateSelected($event)"></app-templates>
        </div>

        <div class="col-12 col-md-9 px-0 position-relative">
            <div class="pt-4">
                <div class="resume-container mx-auto">
                    <div #templateHost></div>
                </div>
            </div>

            <footer class="text-center d-print-none d-flex flex-row align-items-center justify-content-between p-2">
                <div class="d-flex flex-row align-items-center">
                    <a routerLink="/resume-form" mat-raised-button>Edit information</a>
                    <h1 class="text-center d-print-none mb-0 ms-3 h4">{{ selectedTemplate.name }}</h1>
                </div>

                <div class="d-flex flex-row align-items-center">
                    <div class="me-3">Save as PDF using "Ctrl + P" or</div>
                    <button mat-raised-button color="primary" (click)="print()">Download</button>
                </div>
            </footer>
        </div>
    </div>
</div>
