.form-container {
    min-height: 500px;

    .profile-pic {
        max-width: 350px;
        border-radius: 50%;
    }

    .remove-control-button {
        display: inline-block;
        margin-left: auto;
    }
}
